# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
.gradle/
migrate_working_dir/
config/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Code generation
**/*.g.dart
**/*.gr.dart
**/*.gen.dart
**/*.freezed.dart
**/*.g.dart
**/*.g.java
**/*.g.kt
**/*.gr.dart
**/*.gen.dart
**/*.freezed.dart
**/*.mocks.dart
lib/**/gen/

# Database
**/*.db
**/*.sqlite

# Logs
logs/

# GraphQL
.graphqlconfig

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Melos
pubspec_overrides.yaml

# FVM Version Cache
.fvm/