name: auth_app
description: Authentification demo app
version: 1.0.1+1
homepage: https://github.com/zs-dima/auth-app
repository: https://github.com/zs-dima/auth-app
issue_tracker: https://github.com/zs-dima/auth-app/issues

funding:
  - https://buymeacoffee.com/zs.dima
  - https://patreon.com/zs_dima
  - https://boosty.to/zs-dima

topics:
  - auth
  - authentification
  - grpc
  - cross-platform
  - flutter

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

publish_to: "none"

environment:
  sdk: ">=3.10.4"
  flutter: ">=3.38.5"

dependencies:
  # Flutter SDK
  flutter:
    sdk: flutter

  # Localization
  flutter_localizations:
    sdk: flutter
  intl: any

  # Packages
  core_model:
    path: package/model/core_model
  grpc_model:
    path: package/model/grpc_model
  auth_model:
    path: package/model/auth_model
  core_tool:
    path: package/tool/core_tool
  ui_tool:
    path: package/tool/ui_tool

  # Routing
  octopus: ^0.0.9
  url_launcher: ^6.3.2

  # SDK extensions
  async: any
  collection: any
  meta: any
  uuid: any
  crypto: ^3.0.7
  convert: ^3.1.2

  # Logging
  l: ^5.0.1
  sentry_flutter: ^9.9.1
  stack_trace: ^1.12.1

  # System
  path: any
  path_provider: ^2.1.5
  platform_info: ^5.0.0
  package_info_plus: ^9.0.0
  device_info_plus: ^12.3.0
  android_id: ^0.5.1

  # Stream
  stream_transform: ^2.1.1
  rxdart: ^0.28.0

  # State management
  control: ^0.2.0

  # Persistence
  drift: ^2.30.0
  drift_db_viewer: ^2.1.0
  sqlite3_flutter_libs: ^0.5.41
  shared_preferences: ^2.5.4
  flutter_secure_storage: ^10.0.0
  archive: ^4.0.7

  # Platform
  win32: ^5.15.0
  window_manager: ^0.5.1

  # UI
  cupertino_icons: ^1.0.8
  file_picker: ^10.3.8
  flutter_blurhash: ^0.9.1

  # Code generation
  freezed_annotation: ^3.1.0
  json_annotation: ^4.9.0

  # API
  dio: ^5.9.0
  dio_http2_adapter: ^2.6.0
  dio_smart_retry: ^7.0.1
  protobuf: ^6.0.0
  grpc: ^5.1.0
  retry: ^3.1.2

dev_dependencies:
  # Unit & Widget tests for Flutter
  flutter_test:
    sdk: flutter
  # Integration tests for Flutter
  integration_test:
    sdk: flutter

  #mockito: ^5.4.2

  # Code generation
  drift_dev: ^2.30.0
  build_runner: ^2.10.4
  flutter_launcher_icons: ^0.14.4
  # build_verify: ^3.1.0
  pubspec_generator: ^5.0.0
  flutter_gen_runner: ^5.12.0
  freezed: ^3.2.3
  json_serializable: ^6.11.2
  melos: ^7.3.0
  intl_utils: ^2.8.13
  flutter_native_splash: ^2.4.7

  # Lints
  lints_tool:
    path: package/tool/lints_tool

# TODO flutter pub get
# https://github.com/dart-lang/build/issues/2835
flutter:
  generate: true
  uses-material-design: true
  assets:
    - asset/
    - asset/image/
    - asset/image/app/
    - asset/icon/
    - asset/icon/app/
  # fonts:
  #   - family: SocialIcons
  #     fonts:
  #       - asset: packages/firebase_ui_auth/fonts/SocialIcons.ttf
  shaders:
    - asset/shader/shimmer.frag

flutter_intl: # dart run intl_utils:generate
  enabled: true
  class_name: GeneratedLocalization
  main_locale: en
  arb_dir: lib/app/localization/translation
  output_dir: lib/core/gen/localization
  use_deferred_loading: false

flutter_gen:
  output: lib/core/gen/resources
  line_length: 120
  integrations:
    flutter_svg: true
#  colors:
#    inputs:
#      - assets/color/colors.xml
