name: auth_app
description: Authentication demo app

publish_to: "none"

version: 1.0.1

homepage: https://github.com/zs-dima/auth-app
repository: https://github.com/zs-dima/auth-app
issue_tracker: https://github.com/zs-dima/auth-app/issues

funding:
  - https://buymeacoffee.com/zs.dima
  - https://patreon.com/zs_dima
  - https://boosty.to/zs-dima

topics:
  - auth
  - authentication
  - grpc
  - cross-platform
  - flutter

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:

#screenshots:
#  - description: 'Screenshot 1'
#    path: screenshot_1.png

environment:
  sdk: ^3.10.1

workspace:
  - packages/model/core_model
  - packages/model/grpc_model
  - packages/model/auth_model
  - packages/tool/core_tool
  - packages/tool/lints_tool
  - packages/tool/converter/json_converter
  # - packages/rest_client
  - packages/ui

dependencies:
  # Flutter SDK
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

  # Localization
  flutter_localizations:
    sdk: flutter

  # Packages
  core_model:
    path: packages/model/core_model
  grpc_model:
    path: packages/model/grpc_model
  auth_model:
    path: packages/model/auth_model
  core_tool:
    path: packages/tool/core_tool
  json_converter:
    path: packages/tool/converter/json_converter
  # rest_client:
  #   path: packages/rest_client
  ui:
    path: packages/ui

  # Flutter SDK
  path: any
  meta: any
  async: any
  collection: any
  # characters: any
  # convert: any
  crypto: any
  uuid: any # TODO: Remove
  web: ^1.1.1

  # Internationalization
  intl: any
  # timezone: ^0.10.0

  # State management
  control: ^0.2.0

  # Routing
  octopus: ^0.0.9
  url_launcher: ^6.3.2

  # Logging & Analytics
  l: ^5.0.1
  stack_trace: ^1.12.1
  sentry_flutter: ^9.9.1
  # matomo_tracker: ^6.0.0
  # posthog_flutter: ^5.0.0

  # Tool
  path_provider: ^2.1.5
  platform_info: ^5.0.0
  package_info_plus: ^9.0.0
  device_info_plus: ^12.3.0
  android_id: ^0.5.1
  #multiline: ^3.0.0
  # money2: ^5.4.6
  # mockito: ^5.5.1
  # clock: ^1.1.1

  # Stream
  stream_transform: ^2.1.1
  rxdart: ^0.28.0

  # Persistence
  drift: ^2.30.0
  drift_db_viewer: ^2.1.0
  sqlite3_flutter_libs: ^0.5.41
  shared_preferences: ^2.5.4
  flutter_secure_storage: ^10.0.0
  archive: ^4.0.7
  # indexed_db: ^1.0.1

  # Platform
  win32: ^5.15.0
  window_manager: ^0.5.1

  # UI
  # cupertino_icons: ^1.0.8
  # google_fonts: ^6.1.0
  # font_awesome_flutter: ^10.6.0
  file_picker: ^10.3.8
  cross_file: ^0.3.5
  flutter_blurhash: ^0.9.1
  flutter_svg: ^2.2.3
  vector_graphics: ^1.1.19
  fl_chart: ^1.1.1
  # flutter_date_pickers: ^0.4.3
  # repaint: ^0.0.1
  video_player: ^2.10.1
  # get_thumbnail_video: ^0.7.3
  super_drag_and_drop: ^0.9.1 # TODO: Remove
  # flutter_app_icons: ^0.1.1
  # flutter_email_sender: ^7.0.0
  # pdf: ^3.11.3
  # printing: ^5.14.2
  # flutter_md: ^0.0.4

  # Billing
  # in_app_purchase: ^3.2.3

  # Map
  # flutter_map: ^8.2.2
  # flutter_map_marker_popup: ^8.1.0
  # flutter_map_marker_cluster: ^8.2.2
  # flutter_map_cancellable_tile_provider: ^3.1.1
  # latlong2: ^0.9.1
  # <>
  # google_maps_flutter: ^2.12.3
  # # googleapis: ^14.0.0
  # # googleapis_auth: ^2.0.0
  # geocode: ^1.0.3 # geocoding: ^3.0.0

  # Code generation
  freezed_annotation: ^3.1.0
  json_annotation: ^4.9.0

  # API
  ws: ^1.1.0-dev.1
  # grpc
  protobuf: ^6.0.0
  grpc: ^5.1.0
  retry: ^3.1.2
  # http
  http: ^1.6.0
  # cronet_http: ^1.3.4
  # cupertino_http: ^2.2.0
  # intercepted_client: ^0.0.1
  # html: ^0.15.6
  # graphql_codegen: ^1.2.2

  # AI
  # dart_openai: ^5.1.0

dev_dependencies:
  # Unit & Widget tests for Flutter
  flutter_test:
    sdk: flutter
  # Integration tests for Flutter
  integration_test:
    sdk: flutter

  # Linting
  flutter_lints: ^6.0.0

  # Code generation
  build_runner: ^2.10.4
  drift_dev: ^2.30.0
  pubspec_generator: ^5.0.0
  flutter_gen_runner: ^5.12.0
  freezed: ^3.2.3
  json_serializable: ^6.11.2
  # dart run flutter_launcher_icons -f flutter_launcher_icons.yaml
  flutter_launcher_icons: ^0.14.4
  # dart run flutter_native_splash:create --path=flutter_native_splash.yaml
  flutter_native_splash: ^2.4.7
  # melos: ^7.3.0 # dart pub global activate melos
  # build_verify: ^3.1.0
  # pigeon: ^25.3.1
  # intl_utils: ^2.8.13
  #mockito: ^5.4.2

  sentry_dart_plugin: ^3.2.0

  # Lints
  lints_tool:
    path: packages/tool/lints_tool

dependency_overrides:
  web: ^1.1.1 # ws
  device_info_plus: ^12.2.0 # super_drag_and_drop

flutter:
  generate: true
  uses-material-design: true

  assets:
    - assets/
    - assets/images/
    - assets/images/app/
    - assets/icons/
    - assets/icons/app/

  # fonts:
  #   - family: Roboto
  #     fonts:
  #       - asset: assets/fonts/Roboto-Regular.ttf
  #   - family: SocialIcons
  #     fonts:
  #       - asset: packages/firebase_ui_auth/fonts/SocialIcons.ttf

flutter_intl: # dart run intl_utils:generate
  enabled: true
  class_name: GeneratedLocalization
  main_locale: en
  arb_dir: lib/_core/localization/translation
  output_dir: lib/_core/generated/localization
  use_deferred_loading: false

flutter_gen:
  output: lib/_core/generated/resources
  line_length: 120
  integrations:
    flutter_svg: true
# flare_flutter: true
#  colors:
#    inputs:
#      - assets/color/colors.xml
